/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/* line 5, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, .content-table th,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td, .content-table th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Googlefont Poppins CDN Link */
/* line 12, ../sass/screen.scss */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/screen.scss */
body:focus {
  outline: none;
}

/* line 22, ../sass/screen.scss */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 35, ../sass/screen.scss */
.wrapper #formContent, .wrapper #formConten {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  position: relative;
  padding: 0;
  -moz-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 40px;
}
/* line 47, ../sass/screen.scss */
.wrapper #formContent h2, .wrapper #formConten h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #009879;
}
/* line 55, ../sass/screen.scss */
.wrapper #formContent h2.active, .wrapper #formConten h2.active {
  color: #009879;
  border-bottom: 1px solid #5fbae9;
  font-size: 16px;
}
/* line 62, ../sass/screen.scss */
.wrapper #formConten {
  max-width: 90%;
  margin-top: 0;
}
/* line 66, ../sass/screen.scss */
.wrapper #formConten .justify {
  display: flex;
  margin: 0;
}
/* line 70, ../sass/screen.scss */
.wrapper #formConten .chambre, .wrapper #formConten p {
  text-align: left;
  margin-left: 8%;
}
/* line 73, ../sass/screen.scss */
.wrapper #formConten .chambre label, .wrapper #formConten p label {
  width: 100%;
  margin-bottom: 2%;
}
/* line 78, ../sass/screen.scss */
.wrapper #formConten p {
  cursor: pointer;
  margin-bottom: 2%;
  color: #009879;
}
/* line 84, ../sass/screen.scss */
.wrapper #formConten span {
  margin-left: 15px;
}

/* line 90, ../sass/screen.scss */
.addEtu small {
  text-align: left;
  margin-left: 4%;
  font-size: 11px;
}

/* line 97, ../sass/screen.scss */
.addCham small {
  text-align: left;
  margin-left: 10%;
  font-size: 11px;
}

/* line 103, ../sass/screen.scss */
input[type=button], button, input[type=submit],
input[type=reset], .btn1, .btn-success, .float-righ {
  background-color: #009879;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 3px 15px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

/* line 118, ../sass/screen.scss */
button {
  margin: 0;
  padding: 10px 20px;
}

/* line 128, ../sass/screen.scss */
.btn1 {
  margin: 0;
  padding: 10px 30px;
}

/* line 133, ../sass/screen.scss */
.btn-success, .float-righ, .float-righ {
  padding: 6px 10px;
  font-size: 16px;
  margin-right: 5%;
}
/* line 138, ../sass/screen.scss */
.btn-success:hover, .float-righ:hover, .float-righ:hover {
  background-color: #009879;
}

/* line 142, ../sass/screen.scss */
.float-righ {
  margin: 5px 20px 40px -60px;
}

/* line 147, ../sass/screen.scss */
input[type=text], input[type=date],
input[type=tel],
input[type=password],
input[type=time],
input[type=number], select, option {
  outline: none;
  background-color: #E8EAED;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  height: 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #E8EAED;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* line 162, ../sass/screen.scss */
input[type=text]:focus, input[type=date]:focus,
input[type=tel]:focus,
input[type=password]:focus,
input[type=time]:focus,
input[type=number]:focus, select:focus, option:focus {
  background-color: #fff;
  border-bottom: 2px solid #009879;
}
/* line 166, ../sass/screen.scss */
input[type=text]:placeholder, input[type=date]:placeholder,
input[type=tel]:placeholder,
input[type=password]:placeholder,
input[type=time]:placeholder,
input[type=number]:placeholder, select:placeholder, option:placeholder {
  color: #cccccc;
}

/* line 180, ../sass/screen.scss */
nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  background: #009879;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/* line 189, ../sass/screen.scss */
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
/* line 195, ../sass/screen.scss */
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
@media (max-width: 370px) {
  /* line 195, ../sass/screen.scss */
  nav .navbar .nav-links {
    max-width: 100%;
  }
}
/* line 202, ../sass/screen.scss */
nav .navbar .links {
  display: flex;
}
/* line 204, ../sass/screen.scss */
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
/* line 211, ../sass/screen.scss */
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li .js-sub-menu {
  display: block;
}
/* line 215, ../sass/screen.scss */
nav .navbar .links li:hover .htmlcss-arrow, nav .navbar .links li .js-arrow {
  transform: rotate(180deg);
}
/* line 220, ../sass/screen.scss */
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
/* line 228, ../sass/screen.scss */
nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
/* line 237, ../sass/screen.scss */
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #009879;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
/* line 247, ../sass/screen.scss */
nav .navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 251, ../sass/screen.scss */
nav .navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
/* line 256, ../sass/screen.scss */
nav .navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
/* line 259, ../sass/screen.scss */
nav .navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
/* line 267, ../sass/screen.scss */
nav .navbar .links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
/* line 274, ../sass/screen.scss */
nav .navbar .search-box {
  position: relative;
  height: 40px;
  width: 100px;
}
/* line 279, ../sass/screen.scss */
nav .navbar .search-box a {
  margin-left: 6%;
}
/* line 281, ../sass/screen.scss */
nav .navbar .search-box a:hover {
  color: #fff;
}
/* line 285, ../sass/screen.scss */
nav .navbar .search-box i {
  position: absolute;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* line 295, ../sass/screen.scss */
nav .navbar .search-box .input-box {
  position: relative;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 0;
  background: #009879;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
/* line 308, ../sass/screen.scss */
nav .navbar.showInput .search-box .input-box {
  top: 41px;
  opacity: 1;
  pointer-events: auto;
  background: #009879;
}
/* line 314, ../sass/screen.scss */
nav .navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  /* line 318, ../sass/screen.scss */
  nav .navbar .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  /* line 323, ../sass/screen.scss */
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  /* line 327, ../sass/screen.scss */
  nav .navbar .links a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  /* line 333, ../sass/screen.scss */
  nav .navbar .bx-menu {
    display: block;
    font-size: 25px;
    color: #fff;
  }
  /* line 338, ../sass/screen.scss */
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #009879;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  /* line 351, ../sass/screen.scss */
  nav .navbar .nav-links .links {
    display: block;
    margin-top: 20px;
  }
  /* line 355, ../sass/screen.scss */
  nav .navbar .nav-links .links li {
    display: block;
  }
  /* line 357, ../sass/screen.scss */
  nav .navbar .nav-links .links li .arrow {
    line-height: 40px;
  }
  /* line 360, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: block;
  }
  /* line 365, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu li {
    border-bottom: none;
  }
  /* line 368, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu .more-sub-menu {
    display: block;
    position: relative;
    left: 0;
  }
  /* line 372, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* line 379, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }
  /* line 383, ../sass/screen.scss */
  nav .navbar .nav-links .links li .sub-menu .more:hover .more-sub-menu {
    display: block;
  }
  /* line 388, ../sass/screen.scss */
  nav .navbar .nav-links .links li:hover .htmlcss-arrow, nav .navbar .nav-links .links li:hover.js-arrow {
    transform: rotate(0deg);
  }
  /* line 391, ../sass/screen.scss */
  nav .navbar .nav-links .links li .htmlCss-sub-menu,
  nav .navbar .nav-links .links li .js-sub-menu {
    display: block;
  }
  /* line 397, ../sass/screen.scss */
  nav .navbar .nav-links.show1 .links .htmlCss-sub-menu, nav .navbar .nav-links.show3 .links .js-sub-menu, nav .navbar .nav-links.show2 .more .more-sub-menu {
    display: block;
  }
  /* line 400, ../sass/screen.scss */
  nav .navbar .nav-links.show1 .links .htmlcss-arrow, nav .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  /* line 403, ../sass/screen.scss */
  nav .navbar .nav-links.show2 .links .js-arrow {
    transform: rotate(90deg);
  }
}

/* line 411, ../sass/screen.scss */
.content-table {
  border-collapse: border;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 90%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* line 421, ../sass/screen.scss */
.content-table td, .content-table th {
  padding: 18px 20px;
  text-align: center;
}
/* line 425, ../sass/screen.scss */
.content-table td a, .content-table th a {
  text-decoration: none;
  color: #000;
}
/* line 428, ../sass/screen.scss */
.content-table td a:hover, .content-table th a:hover {
  color: #009879;
}
/* line 434, ../sass/screen.scss */
.content-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
/* line 442, ../sass/screen.scss */
.content-table thead .tittle th {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-weight: bold;
}
/* line 451, ../sass/screen.scss */
.content-table tbody tr {
  border-bottom: 2px solid #dddddd;
}
/* line 453, ../sass/screen.scss */
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/* line 457, ../sass/screen.scss */
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
/* line 460, ../sass/screen.scss */
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* line 469, ../sass/screen.scss */
.row {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
/* line 473, ../sass/screen.scss */
.row input[type=text], .row input[type=date],
.row input[type=tel],
.row input[type=password],
.row input[type=time],
.row input[type=number], .row select, .row option, .row input[type=date],
.row input[type=tel] {
  width: 450px;
}

/* line 480, ../sass/screen.scss */
.form-group.success input {
  border-color: #009879;
  background-color: #fff;
}

/* line 484, ../sass/screen.scss */
.form-group.success select {
  border-color: #009879;
  background-color: #fff;
}

/* line 488, ../sass/screen.scss */
.form-group.error input {
  border-color: red;
  background-color: #fff;
}

/* line 493, ../sass/screen.scss */
.form-group.error select {
  border-color: red;
  background-color: #fff;
}

/* line 498, ../sass/screen.scss */
.pagination {
  justify-content: center;
}
/* line 501, ../sass/screen.scss */
.pagination a {
  font-weight: bold;
  font-size: 18px;
  color: #009879;
  padding: 8px 16px;
  margin-left: 7px;
  text-decoration: none;
  border: 1px solid #009879;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
/* line 514, ../sass/screen.scss */
.pagination.active {
  background-color: #152032;
  color: #fff;
}
/* line 518, ../sass/screen.scss */
.pagination a:hover:not(.active) {
  background-color: #009879;
  color: #fff;
  border: 1px solid #009879;
}
